* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	height: 100dvh;
	width: 100dvw;
	background-color: #ccd5ae;
	display: flex;
	align-items: center;
	justify-content: center;
}

#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	place-items: center;
	perspective: 1000px;
}

.card {
	color: transparent;
	font-size: xx-large;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle, #fefae0 0%, #e9edc9 100%);
	border: 1px solid #d6ff9f;
	border-radius: 0.6em;
	box-shadow: 3px 3px 0 0 #6b705c;
	transition: box-shadow 0.3s, transform 0.6s, color 0.5s;
}

.card:hover {
	box-shadow: 5px 5px 0 0 #6b705c;
	transform: translate(-3px, -3px);
}

@keyframes sink {
	0% {
		transform: scale(100%);
		opacity: 1;
	}
	10% {
		transform: scale(110%);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@media only screen and (orientation: landscape) {
	#grid {
		height: 90dvh;
		width: 90dvh;
	}
	.card {
		width: 17dvh;
		height: 17dvh;
		font-size: 6dvh;
		border-radius: 3dvh;
	}
}

@media only screen and (orientation: portrait) {
	#grid {
		height: 90dvw;
		width: 90dvw;
	}
	.card {
		width: 17dvw;
		height: 17dvw;
		font-size: 6dvw;
		border-radius: 3dvw;
	}
}
