:root {
	--orange: #ffd68a;
	--bg: #2b2b37;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	background-color: #ccd5ae;
	padding: 1vh;
	align-items: center;
	justify-content: center;
	display: flex;
}

#grid {
	max-width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.card {
	width: 2em;
	height: 2em;
	margin: 3vh;
	font-size: 3em;
	border-radius: 0.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 0 0 #6b705c;
	transition: box-shadow 0.3s, transform 0.6s;
	border: 1px solid #d6ff9f;
	background: radial-gradient(circle, #fefae0 0%, #e9edc9 100%);
	direction: rtl;
	animation-duration: 0.4s;
	animation-direction: normal;
}

.card:hover {
	box-shadow: 5px 6px 0 0 #6b705c;
	transform: translate(-2px, -3px);
}

@keyframes flip {
	0% {
		font-size: 0;
		transform: rotateY(0deg);
	}
	100% {
		font-size: 3em;
		transform: rotateY(180deg);
	}
}

@keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(3px, 3px);
	}
	20% {
		transform: translate(-3px, 0);
	}
	30% {
		transform: translate(0, 3px);
	}
	50% {
		transform: translate(3px, 3px);
	}
	70% {
		transform: translate(-3px, -3px);
	}
	90% {
		transform: translate(0, 3px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fade {
	0% {
		color: transparent;
	}
	100% {
		color: inherit;
	}
}
